// HackUCI Styling variables

// HackUCI Ember Theme colors
$ember-blue: #2e3a4d;
$ember-purple: #41436A;
$ember-maroon: #984063;
$ember-red: #f64668;
$ember-orange: #fe9677;

// Normal Colors 
$black: #000000;
$white: #fefefe;
$dark-gray: #2e2e2e;
$light-gray: #6a6a6a;

// Spacings
$xl-spacing: 6rem;
$large-spacing: 4rem;
$medium-spacing: 2rem;
$small-spacing: 1rem;
$tiny-spacing: 0.5rem;

// Shadows
$small-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$large-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// Background Gradient
$left-gradient: #FF5F6D;
$right-gradient: #FFC371;