@import "globals/hack-variables.scss";

.blur {
  filter: blur(8px);
}

.user-list * {
  filter: blur(0);
}

.button{
  padding: $tiny-spacing $small-spacing $tiny-spacing $small-spacing ;
  border-radius: $tiny-spacing;
  background: white;
  border: none;
  font-weight: bold;
  margin : $small-spacing;
  margin : $small-spacing;
}

#create-button {
  margin-bottom: $large-spacing;
  padding: $small-spacing;
}

.button:hover {
background: #ccc;
cursor: pointer;
}
