@import "globals/hack-variables.scss";

.user-list {
  width: 80vw;
  padding-top: $xl-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
  }
}
