@import "globals/hack-variables.scss";

.myForm {
  font-size: 0.8em;
  width: 20em;
  padding: 1em;
  border: 1px solid #ccc;
}

.myForm * {
  box-sizing: border-box;
}

.myForm label {
  display: block;
  margin-bottom: $tiny-spacing;
  font-weight: bold;
}

.myForm input[type="text"],
.myForm input[type="email"],
.myForm select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 0.9em;
  padding: 0.3em;
  margin-bottom: $small-spacing;
  color: black;
}
